{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:json/recommended",
    "plugin:prettier/recommended",
    "plugin:unicorn/recommended",
    "plugin:astro/recommended",
    "plugin:astro/jsx-a11y-recommended",
    "plugin:tailwindcss/recommended",
    "plugin:svelte/prettier"
  ],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "extraFileExtensions": [".astro"],
        "parser": "@typescript-eslint/parser"
      }
    },
    {
      "files": ["*.cjs"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true
    },
    "extraFileExtensions": [".svelte"],
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "rules": {
    "import/order": [
      "warn",
      {
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ],
    "tailwindcss/no-custom-classname": 0,
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "allowList": {
          "Props": true
        }
      }
    ]
  },
  "settings": {
    "tailwindcss": {
      "config": "tailwind.config.cjs"
    }
  }
}
