{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "tabWidth": 2,
        "useTabs": false,
        "endOfLine": "auto",
        "printWidth": 100,
        "trailingComma": "all",
        "singleQuote": true
      }
    ]
  }
}
