{
  "editorconfig": true,
  "trailingComma": "all",
  "singleQuote": true,
  "endOfLine": "auto",
  "printWidth": 100,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
