---
import MainHead from 'components/MainHead.astro';
import MainLayout from 'layouts/MainLayout.astro';
---

<html lang="en">

<head>
	<MainHead title="My Blog | Arunim Portfolio" />
</head>

<body>
	<MainLayout>
		<h1>My Blog!</h1>
	</MainLayout>
</body>

</html>
