---
import Header from '~/components/Header.astro';
import MainHead from '~/components/MainHead.astro';

interface Properties {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Properties;
---

<html lang="en">
  <head>
    <MainHead description={description} title={title} />
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
