---
import MainHead from '../components/MainHead.astro';
---

<html lang="en">

<head>
	<MainHead title="404 Error | Arunim Portfolio" />
</head>

<body>
	<nav />
	<div class="">
		<h1>Page Not Found</h1>
		<p>Not found</p>
	</div>
	<footer />
</body>

</html>
