---
import { Content as About } from '~/assets/about.md';
import TechList from '~/components/TechList.svelte';
import Base from '~/layouts/Base.astro';
---

<Base>
  <section class="space-y-10">
    <h1>About Me</h1>
    <div class="space-y-5">
      <About />
    </div>
  </section>
  <section class="space-y-10">
    <h2>Technologies I am knowledgeable of</h2>
    <TechList />
  </section>
</Base>
