---
import { links } from '~/constants';
import Document from '~/layouts/Document.astro';
---

<Document>
  <div class="stars">
    <div class="twinkling">
      <main class="flex h-full items-center justify-center">
        <article
          class="card card-body h-4/5 w-3/4 animate-fadeIn !bg-surface-800 p-10 sm:h-3/5 md:h-4/6 md:w-3/5 lg:h-3/5 xl:w-3/5 2xl:w-1/2"
        >
          <div class="flex h-full w-full flex-col space-y-10 text-center">
            <h1>Hello and welcome to my little universe!</h1>
            <h2>I'm Mugdha Arunim Ahmed.</h2>
            <h3>Where would you like to go next?</h3>
            <ul class="space-x-2.5 space-y-2.5">
              {
                links.map(({ href, icon: Icon, name }) => (
                  <a href={href} class="btn btn-filled-primary hover:btn-ghost-primary btn-lg">
                    <span>
                      <Icon />
                    </span>
                    <span>{name}</span>
                  </a>
                ))
              }
            </ul>
          </div>
        </article>
      </main>
    </div>
  </div>
</Document>
