---
import StarryBackground from '~/components/StarryBackground.svelte';
import RootLayout from '~/layouts/Root.astro';
---

<RootLayout>
  <StarryBackground>
    <h1>Hello, World!</h1>
  </StarryBackground>
</RootLayout>
