<header>
  <p class="bg-warning text-center font-mono text-sm text-white" id="wip">
    This web site is still under a work in progress. If you have any problem, please feel free to
    open a new issue on
    <a class="link" href="https://gitlab.com/arunim-io/arunim-portfolio/-/issues">GitLab</a>.
  </p>
  <nav
    class="navbar justify-center border-b px-5 sm:px-10 md:px-16 lg:px-20 sm:justify-between"
    id="navbar"
  >
    <section class="navbar-start">
      <a
        class="text-lg font-semibold capitalize hover:text-primary hover:underline hover:underline-offset-4 sm:text-xl"
        href="/"
      >
        Arunim's Portfolio
      </a>
    </section>
    <section class="navbar-end">
      <a
        class="uppercase hover:text-primary-focus hover:underline"
        href="https://arunim-blog.hashnode.dev/"
      >
        blog
      </a>
    </section>
  </nav>
</header>
