---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

import ProfilePicture from '~/assets/profile-pic.jpg';
---

<section class="flex flex-col justify-center gap-x-10 sm:flex-row md:mx-14" id="intro">
  <Image
    alt="Profile Picture"
    class="mb-5 h-60 w-60 self-center rounded-full border-[2.5px] border-primary object-cover sm:mb-auto"
    src={ProfilePicture}
  />
  <div class="flex flex-col justify-center">
    <p class="mx-auto mb-5 flex flex-col">
      <span class="text-start text-sm">Yo, I'm</span>
      <br />
      <span class="text-2xl font-semibold text-primary lg:text-3xl">Mugdha Arunim Ahmed</span>
      <span class="capitalize">An Entusiastic developer</span>
    </p>
    <div class="grid grid-flow-col-dense justify-center gap-5 sm:justify-start">
      <a href="https://www.facebook.com/arunim.io/">
        <Icon class="h-7 w-7 fill-current hover:text-primary" name="bi:facebook" />
      </a>
      <a href="https://www.instagram.com/arunim.io/">
        <Icon class="h-7 w-7 fill-current hover:text-primary" name="bi:instagram" />
      </a>
      <a href="https://twitter.com/arunim_io">
        <Icon class="h-7 w-7 fill-current hover:text-primary" name="bi:twitter" />
      </a>
      <a href="https://www.github.com/arunim-io">
        <Icon class="h-7 w-7 fill-current hover:text-primary" name="bi:github" />
      </a>
      <a href="https://www.gitlab.com/arunim-io">
        <Icon class="h-7 w-7 fill-current hover:text-primary" name="fa:gitlab" />
      </a>
    </div>
  </div>
</section>
