---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

import data from '~/assets/data.json';
import ProfilePicture from '~/assets/profile-pic.jpg';
---

<section class="flex flex-col justify-center gap-x-10 sm:flex-row md:mx-14" id="intro">
  <Image
    alt="Profile Picture"
    class="mb-5 h-60 w-60 self-center rounded-full border-[2.5px] border-primary object-cover sm:mb-auto"
    src={ProfilePicture}
  />
  <div class="flex flex-col justify-center">
    <p class="mx-auto mb-5 flex flex-col">
      <span class="text-start text-sm">Yo, I'm</span>
      <span class="text-2xl font-semibold text-primary lg:text-3xl">Mugdha Arunim Ahmed</span>
      <span class="capitalize">An Enthusiastic developer</span>
    </p>
    <div class="grid grid-flow-col-dense justify-center gap-5 sm:justify-start">
      {
        data.social.map(({ icon, url }) => (
          <a href={url}>
            <Icon class="hover:text-primary h-7 w-7 fill-current" name={icon} />
          </a>
        ))
      }
    </div>
  </div>
</section>
