---
import '../styles/global.css';

const { title = 'Arunim Portfolio', description = "Mugdha Arunim Ahmed's Portfolio" } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=, inidevice-widthtial-scale=1.0">
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@200;400;700;900&display=swap" rel="stylesheet" />
