---
import { Icon } from 'astro-icon';

import data from '~/assets/data.json';
import Section from '~/layouts/Section.astro';
---

<Section id="skills" title="Skills">
  <ul class="logo-cloud grid-cols-1 gap-2.5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {
      data.skills.map(({ name, icon }) => (
        <li class="logo-item p-20">
          <span>
            <Icon name={icon} class="h-10 w-10" />
          </span>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
