---
import AboutMe from '~/components/AboutMe.astro';
import Intro from '~/components/Intro.astro';
import MainLayout from '~/layouts/MainLayout.astro';
---

<MainLayout>
  <main class="my-20 mx-5 flex flex-col gap-y-20" id="page">
    <Intro />
    <AboutMe />
  </main>
</MainLayout>
