---
import MainLayout from 'layouts/MainLayout.astro';
---

<MainLayout>
  <section class="p-40">
    <h1 class="text-3xl">Yo! Welcome to my Portfolio!</h1>
    <h2 class="text-2xl my-5">I am <span class="text-primary">Mugdha Arunim Ahmed</span>.</h2>
  </section>
</MainLayout>
