---
import MainHead from 'components/MainHead.astro';
import Sidebar from 'components/Sidebar.jsx';
---

<html lang='en'>

<head>
	<MainHead title='Arunim Portfolio' description="Mugdha Arunim Ahmed's Portfolio" />
</head>

<body>
	<main class="flex flex-col-reverse md:flex-col">
		<slot />
		<Sidebar />
	</main>
</body>

</html>
