---
import MainHead from 'components/MainHead.astro';
import Menu from 'components/Menu.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>

  <body>
    <header class="bg-warning text-center">
      This web site is still under a work in progress. If you have any problem, please feel free to
      open a new issue on
      <a href="https://gitlab.com/arunim-io/arunim-portfolio/-/issues" class="link">GitLab</a>.
    </header>
    <main class="container sm:px-32 px-10">
      <slot />
    </main>
    <Menu />
  </body>
</html>
