---
import MainHead from 'components/MainHead.astro';

const { title, description } = Astro.props;
---

<html lang='en'>

<head>
	<MainHead title={title} description={description} />
</head>

<body>
	<main class="flex flex-col-reverse md:flex-col">
		<slot />
	</main>
</body>

</html>
