---
import '@brainandbones/skeleton/styles/all.css';
import '@fontsource/fira-code';
import '@fontsource/poppins';

import '../styles/global.css';
import '../styles/theme.css';
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Mugdha Arunim Ahmed's Portfolio" name="description" property="og:description" />
    <title>Arunim's Portfolio</title>
  </head>
  <body class={import.meta.env.DEV ? 'debug-screens' : undefined}>
    <slot />
  </body>
</html>
