<section class="flex mx-10 justify-center my-10 flex-col sm:mx-16 lg:mx-20" id="about-me">
  <h1 class="font-semibold text-4xl hover:text-primary hover:cursor-pointer text-center">
    About Me
  </h1>
  <div class="mt-10 space-y-5">
    <p>
      Hello, I'm Mugdha Arunim Ahmed, a self-taught full stack developer from Bangladesh. My journey
      started during the COVID-19 outbreak when I was in the 8th standard.
    </p>
    <p>
      I primarily develop in
      <a class="link text-primary after:content-['_↗']" href="https://djangoproject.com/">Django</a>
      and <a class="link text-primary after:content-['_↗']" href="https://reactjs.org">React</a>,
      but I'm also learning <a
        class="link text-primary after:content-['_↗']"
        href="https://flutter.dev/">Flutter</a
      > for developing applications that work in Windows, MacOS, Android & IOS.
    </p>
    <p>
      Due to my studies, I've not been able to contribute to the open source community, but I try my
      best to do so. My one and only wish is to make something that will be benificial for millions
      of people around the world and leave a mark of my existence in the history of this world.
    </p>
  </div>
</section>
