<header>
  <section class="bg-warning text-center text-sm font-mono">
    This web site is still under a work in progress. If you have any problem, please feel free to
    open a new issue on
    <a class="link" href="https://gitlab.com/arunim-io/arunim-portfolio/-/issues">GitLab</a>.
  </section>
  <nav class="navbar bg-base-100 justify-between">
    <a
      class="uppercase text-2xl font-semibold hover:text-primary hover:underline hover:underline-offset-4"
      href="/"
    >
      Arunim's portfolio
    </a>
  </nav>
</header>
