---
import '@fontsource/fira-code';
import '@fontsource/poppins';
import '../styles/global.css';

interface Properties {
  title?: string;
  description?: string;
}

const { title = "Arunim's Portfolio", description = "Mugdha Arunim Ahmed's Portfolio" } =
  Astro.props as Properties;
---

<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<meta charset="utf8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content={description} name="description" property="og:description" />
<title>{title}</title>
