---
import { Icon } from 'astro-icon';

import skills from '~/assets/skills.json';
---

<section id="skills">
  <h1 class="font-semibold text-4xl hover:text-primary hover:cursor-pointer text-center">Skills</h1>
  <ul class="mt-14 list-disc space-y-10">
    {
      skills.map(({ type, items }) => (
        <li class="mx-5 list-item">
          <h1 class="mb-5 text-2xl capitalize">{type}</h1>
          <ul class="grid grid-flow-row grid-cols-3 gap-y-5 sm:grid-cols-5 md:grid-cols-6 lg:grid-cols-8">
            {items?.map(({ icon, name }) => (
              <li class="flex flex-col items-center justify-center text-center">
                <Icon name={icon} class="h-24 w-24" />
                <p>{name}</p>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</section>
