{
  "extends": [
    "../.eslintrc",
    "plugin:astro/recommended",
    "plugin:astro/jsx-a11y-recommended",
    "plugin:tailwindcss/recommended"
  ],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "extraFileExtensions": [".astro"],
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "parserOptions": { "ecmaFeatures": { "jsx": true } },
  "rules": {
    "tailwindcss/classnames-order": 0,
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "allowList": {
          "devToClient": true
        },
        "ignore": ["dev"]
      }
    ]
  },
  "settings": {
    "tailwindcss": {
      "config": "tailwind.config.cjs"
    }
  }
}
